<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>Codecs</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Audio</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>OPUS</string>
			<key>Key</key>
			<string>MEDIA_CODEC_USE_OPUS</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>G.729</string>
			<key>Key</key>
			<string>MEDIA_CODEC_USE_G729AB</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>G.722</string>
			<key>Key</key>
			<string>MEDIA_CODEC_USE_G722</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>AMR-NB-OA</string>
			<key>Key</key>
			<string>MEDIA_CODEC_USE_AMR_NB_OA</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>AMR-NB-BE</string>
			<key>Key</key>
			<string>MEDIA_CODEC_USE_AMR_NB_BE</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>GSM</string>
			<key>Key</key>
			<string>MEDIA_CODEC_USE_GSM</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>PCMA</string>
			<key>Key</key>
			<string>MEDIA_CODEC_USE_PCMA</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>PCMU</string>
			<key>Key</key>
			<string>MEDIA_CODEC_USE_PCMU</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Speex (8Khz)</string>
			<key>Key</key>
			<string>MEDIA_CODEC_USE_SPEEX_NB</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Speex (16Khz)</string>
			<key>Key</key>
			<string>MEDIA_CODEC_USE_SPEEX_WB</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Speex (32Khz)</string>
			<key>Key</key>
			<string>MEDIA_CODEC_USE_SPEEX_UWB</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Video</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>VP8</string>
			<key>Key</key>
			<string>MEDIA_CODEC_USE_VP8</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>H.263</string>
			<key>Key</key>
			<string>MEDIA_CODEC_USE_H263</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>H.263-1998</string>
			<key>Key</key>
			<string>MEDIA_CODEC_USE_H263P</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>H.264 Base Profile</string>
			<key>Key</key>
			<string>MEDIA_CODEC_USE_H264BP</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>H.264 Main Profile</string>
			<key>Key</key>
			<string>MEDIA_CODEC_USE_H264MP</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Theora</string>
			<key>Key</key>
			<string>MEDIA_CODEC_USE_THEORA</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>MP4V-ES</string>
			<key>Key</key>
			<string>MEDIA_CODEC_USE_MP4VES</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
