<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>QoS/QoE</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Preconditions</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Strength</string>
			<key>Key</key>
			<string>QOS_PRECOND_STRENGTH</string>
			<key>DefaultValue</key>
			<string>Optional</string>
			<key>Values</key>
			<array>
				<string>None</string>
				<string>Optional</string>
				<string>Mandatory</string>
			</array>
			<key>Titles</key>
			<array>
				<string>None</string>
				<string>Optional</string>
				<string>Mandatory</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Type</string>
			<key>Key</key>
			<string>QOS_PRECOND_TYPE</string>
			<key>DefaultValue</key>
			<string>Segmented</string>
			<key>Titles</key>
			<array>
				<string>None</string>
				<string>Segmented</string>
				<string>End2End</string>
			</array>
			<key>Values</key>
			<array>
				<string>None</string>
				<string>Segmented</string>
				<string>End2End</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Bandwidth</string>
			<key>Key</key>
			<string>QOS_PRECOND_BANDWIDTH</string>
			<key>DefaultValue</key>
			<string>Low</string>
			<key>Titles</key>
			<array>
				<string>Low</string>
				<string>Medium</string>
				<string>High</string>
			</array>
			<key>Values</key>
			<array>
				<string>Low</string>
				<string>Medium</string>
				<string>High</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Session Timers</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enable</string>
			<key>Key</key>
			<string>QOS_USE_SESSION_TIMERS</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Timeout</string>
			<key>Key</key>
			<string>QOS_SIP_SESSIONS_TIMEOUT</string>
			<key>DefaultValue</key>
			<string>3600</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Refresher</string>
			<key>Key</key>
			<string>QOS_REFRESHER</string>
			<key>DefaultValue</key>
			<string>none</string>
			<key>Titles</key>
			<array>
				<string>none</string>
				<string>uas</string>
				<string>uac</string>
			</array>
			<key>Values</key>
			<array>
				<string>none</string>
				<string>uas</string>
				<string>uac</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
